html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

@media (max-width: 750px) {}


.form {
    margin: 15px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
}

.form__inputButton {
    color: white;
    background-color: rgb(3, 116, 116);
    padding: 10px;
    margin: 20px;
    border: none;
    transition: 1.3s;
    cursor: pointer;
    text-align: center;
}

.form__inputButton:hover {
    transform: scale(1.2) translateX(10px);
    background-color: hsl(180, 89%, 40%);
}

.form__input {
    margin: 0;
    padding: 10px;
    flex-grow: 1;
    border: 1px solid rgb(126, 122, 122);
}

.form__header {
    padding: 5px;
}